/* left menu 관련 */
@import "leftmenu.css";
/* footer section */
@import "footer.css";
/* first page */
@import "frontpage.css";
/* product page */
@import "productpage.css";

/* product page */
@import "modal.css";

/* list page */
@import "list.css";

/* list page */
@import "mobile.css";

.bold {
  font-weight: bold;
}
.white_space_preline {
  white-space: pre-line;
}
.t_center {
  text-align: center;
}
.disnone {
  display: none;
}
/* .contact_chg {
  will-change: transform;
  transition: 400ms cubic-bezier(0.03, 0.98, 0.52, 0.99);
  transform: perspective(1000px) rotateX(0deg) rotateY(0deg) scale3d(1, 1, 1);
} */
